*{
    margin:0;
    padding:0;
    font-size:15px
}
body{
    background-image: url("/img/bg.jpg");
}
.page-content{
    width:100%;
    height:100%;
    margin:0 auto;
}
.main{
    margin-bottom:65px;
}
.main-content{
    /*margin:5px 5px;*/
    height:100%;
    text-align:center;
}
.form-btn{
    display:flex;
    justify-content:flex-end;
    color:#409eff;
    margin-right:5px;
}
.bottom-button {
    position:fixed;
    bottom:0;
    width:100%;
    background: #fff;
}
.btn-a{
    border:0;
    height:45px;
    font-size:20px;
}
.btn-group{
    width:100%;
    display:flex;
    justify-content:space-between;
}
.btn-flag{
    background:#409eff;
    color:#fff;
}
.btn-refresh{
    background:#fff;
    color:#409eff;
}
.long{
    width:100%;
}
.short{
    width:45%;
}
.text-flag{
    margin-top:10px;
}
.img-flag{
    background-size:cover;
}

.thumbnails{
    z-index: 1;
    filter: blur(4px);
    transition: all 0.4s;
}
.complete{
    filter: blur(0);
}
